/* ColorCard.css */
.color-card {
    width: 270px;
    height: 280px;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: relative;
    
    overflow: hidden;
  }
  
  .color-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease; 
  }
  
  .color-themes {
    display: flex;
    flex-direction: column; 
    width: 100%;
    height: 100%;
  }
  
  .color-segment {
    flex: 1;
    transition: background-color 0.3s ease;
   
  }
  